body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 100%;
    overflow-x: hidden ;
    text-align: center;
}
h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

/* Nav-bar */ 
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar {
    padding-bottom: 4.5rem;
}
.nav-item {
    padding-left: 38px;
}
.nav-link {
    font-family: "Montserrat";
    font-size: 1.2rem;
    font-weight: 500;
}

/* Title */

#title {
    background-color: #ff4c68;
    color: #fff;   
    text-align: left;
}
.container-fluid {
    padding: 3% 15%;
}
#image-title {
    position: relative;
}
.title-heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}
.image-container {
    position: absolute;
    z-index: 1;
    right: -10%;
    
}
#dog-image {
    transform: rotate(20deg);
    width: 60%;
}

/* Download buttons  */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Features  */

.icon {
    color: #ef8172;
}
.icon:hover {
    color: #ff4c68;
}
#features div h3 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: .5rem;
}
#features #icons-container div p {
    color: #8f8f8f;
    font-weight: 500;
}
#features #icons-container div {
    padding: 4rem;
}
#features {
    padding: 3rem 7rem 0;
    margin-bottom: 3rem;
    position: relative;
    z-index: 2;
    background-color: #fff;
}

/* Testimonial section */

#testimonials {
    background-color: #ef8172;
    color: #fff;
}
#testimonials img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item {
    padding: 7% 15%;
}
#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}
#press img {
    width: 15%;
    margin: 20px 20px 50px;
}
.pricing-column {
    padding: 3% 2%;
} 

/* Call to action */
#cta {
    background-color: #ef8172;
    padding: 6rem 3rem 3rem;
    color: #fff;
}
#cta h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
}
#footer {
    background-color: #fff;
    overflow: hidden;
    padding: 3rem 0 3rem ;
}
.social-icons {
    padding: 0 0 1rem;
    font-size: 1rem;
}
.social-icons i {
    padding: 0 0.5rem 0;
    cursor: pointer;
}
.social-icons i:hover {
    color: #8f8f8f;
}
#footer p {
    font-size: 1.1rem;
    font-weight: 500;
    color: #8f8f8f;
}

/* Media queries  */

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .image-container {
        position: static;
    }
    #dog-image {
        transform: rotate(0);
    }
}